.about-my__name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #121212;
}
.about-my__city {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #121212;
  padding-top: 20px;
}
.about-mу__social {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-mу__paragraph {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.web-development__style {
  display: flex;
  gap: 25px;
}
.web-development__technology {
  background: #414141;
  border-radius: 45px;
  color: aliceblue;
  padding: 14px 55px 14px 55px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.web-development__technology:hover {
  opacity: 0.2;
  transition: 0.5s;
}
.text__top {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 50px 0px 20px 0px;
}
.text__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-indent: 30px;
  width: 100%;
}
.text__bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-indent: 30px;
}
.web-development__style {
  display: flex;
  flex-wrap: wrap;
}
