.form__element {
  padding-top: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
}
.form {
  max-width: 701px;
  width: 100%;
  box-sizing: border-box;
}
.form__input {
  width: 100%;
  max-width: 338px;
  max-height: 66px;
  border: 1px solid #121212;
  border-radius: 11px;
  padding: 14px 0px 14px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.form__btn {
  max-width: 701px;
  width: 100%;
  max-height: 66px;
  margin-top: 25px;
  background-color: #121212;
  color: white;
  border-radius: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.form__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  padding: 14px 0px 14px 0px;
}
input::placeholder {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  max-width: 170px;
  color: #121212;
}
@media screen and (max-width: 992px) {
  input::placeholder {
    font-size: 24px;
    line-height: 28px;
    min-width: 59px;
    min-height: 28px;
  }
  .form__input {
    max-width: 232px;
    max-height: 48px;
    width: 100%;
    border: 1px solid #121212;
    border-radius: 11px;
    padding: 10px 88px 10px 16px;
  }
  .form__btn {
    width: 484px;
    margin-top: 20px;
    height: 48px;
    font-size: 24px;
    line-height: 28px;
  }
  .form__text {
    font-size: 24px;
    line-height: 28px;
    padding: 0;
  }
  .form {
    width: 100%;
    max-width: 484px;
    max-height: 116px;
  }
}

@media screen and (max-width: 540px) {
  input::placeholder {
    max-width: 59px;
    width: 100%;
    max-height: 28px;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 84px 8px 16px;
  }
  .form__input {
    width: 100%;
    width: calc(390px / 2);
    min-height: 35px;
    border: 1px solid #121212;
    border-radius: 11px;
    padding: 8px 0px 8px 16px;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
  }
  .form__btn {
    font-size: 16px;
    line-height: 19px;
    min-width: 144px;
    width: 100%;
    height: 35px;
    padding: 8px 123px;
  }
  .form__text {
    font-size: 16px;
    line-height: 19px;
    padding: 0;
  }
  .form__element {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    padding-top: 16px;
    gap: 20px;
  }
  .form {
    width: 100%;
    box-sizing: border-box;
  }
}
