.portfolio__left {
  min-width: 638px;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 992px) {
  .portfolio__left {
    min-width: 372px;
  }
}
@media screen and (max-width: 540px) {
  .portfolio__left {
    padding: 0px 75px;
    max-height: 689px;
    min-width: 390px;
  }
}
