.portfolio__job-title {
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  font-size: 64px;
  line-height: 75px;
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  .portfolio__job-title {
    font-size: 36px;
    line-height: 42px;
    min-width: 372px;
  }
}
@media screen and (max-width: 540px) {
  .portfolio__job-title {
    font-size: 24px;
    line-height: 28px;
    min-width: 372px;
    width: 100%;
    padding: 12px 0px 12px 0px;
  }
}
