.portfolio {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 50px;
  background-image: url(../Фон.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio__right {
  padding-top: 50px;
  width: calc(100% - 638px);
}

@media screen and (max-width: 992px) {
  .text__bottom {
    font-size: 20px;
    line-height: 23px;
    min-width: 500px;
  }

  .portfolio__right {
    width: calc(100% - 372px);
  }
  .about-my__name {
    font-size: 32px;
    line-height: 38px;
  }
  .about-my__city {
    font-size: 20px;
    line-height: 23px;
  }
  .about-mу__paragraph {
    font-size: 24px;
    line-height: 28px;
  }
  .text__top {
    font-size: 24px;
    line-height: 28px;
  }
  .text__description {
    font-size: 20px;
    line-height: 23px;
    max-width: 530px;
  }
  .web-development__technology {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 540px) {
  .about-my__name {
    font-size: 24px;
    line-height: 28px;
  }
  .web-development__style {
    display: flex;
    gap: 10px;
  }
  .portfolio__right {
    width: 100%;
    padding-top: 16px;
    margin: 0 auto;
    max-width: 390px;
  }
  .portfolio {
    flex-direction: column;
    gap: 0;
  }
  .text__bottom {
    font-size: 16px;
    line-height: 19px;
  }
  .text {
    max-width: 520px;
  }
  .about-my__city {
    font-size: 18px;
    line-height: 21px;
    padding-top: 10px;
  }
  .about-mу__paragraph {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 10px;
  }
  .text__top {
    font-size: 20px;
    line-height: 23px;
    padding: 16px 0px 10px 0px;
  }

  .text__description {
    font-size: 16px;
    line-height: 19px;
    max-width: 354px;
  }
  .web-development__technology {
    font-size: 16px;
    line-height: 19px;

    height: 35px;
    padding: 8px 35px;
  }
  .about-mу__social {
    flex-wrap: nowrap;
    padding: 16px 0px;
  }
  .about-my__icon {
    width: 32px;
    height: 32px;
  }
}
